rem *   Author:  RecordEditor~CodeGen
rem * Language:  Windows bat
#if ( $type == "Xml")
rem * Packages:  CobolToXml (https://sourceforge.net/projects/coboltoxml)
rem *            JRecord    (https://sourceforge.net/projects/jrecord/)
rem *            Cb2Xml     (https://sourceforge.net/projects/cb2xml/)
rem *        
rem * *-----------------------------------------------------------------
rem *        
rem *   This script uses the CobolToXml package (https://sourceforge.net/projects/coboltoxml)
rem * to do the  Cobol <---> Xml conversion.
rem *   This script is setup to run from the example directory of an installed version of CobolToXml.
rem * You should change the directory reference as required                                         
#else
rem * Packages   JRecord    (https://sourceforge.net/projects/jrecord/) holds Cobol2Json jar
rem *            Cb2Xml     (https://sourceforge.net/projects/cb2xml/)
rem *        
rem * *-----------------------------------------------------------------
rem *        
rem *   This script uses the CobolToJson portion of the JRecord package
rem * (https://sourceforge.net/projects/jrecord) to do the  Cobol <---> Json conversion.
rem *   This script is setup to run from the example directory of an installed version of 
rem * JRecord/CobolToJson. You should change the directory reference as required                                         
#end
rem *        
rem * *------------- Keep this notice in your final code ---------------
rem * *   This code was generated by JRecord projects CodeGen program
rem * *            on the: ${generateOptions.getTemplateDtls().currentDateTime} 
rem * *     from Copybook: ${generateOptions.getSchemaDefinition().schemaShortName}
rem * *           Dialect: ${generateOptions.getDialect().utlCode}
rem * *          Template: ${generateOptions.getTemplateDtls().template}
rem * *             Split: ${generateOptions.getSplitOption().utlCode}   
rem * * File Organization: ${generateOptions.getFileStructureCode().utlCode}   
rem * *              Font: ${generateOptions.font}
rem * *   
rem * *    CodeGen Author: Bruce Martin
rem * *-----------------------------------------------------------------
#macro(setXmlAttrBat)
                           -fileOrganisation ${generateOptions.getFileStructureCode().option} ^
#*  *##if (${generateOptions.getDialect().option} != "Mainframe")
                           -dialect ${generateOptions.getDialect().option} ^
#*  *##end
#*  *##if (${generateOptions.getSplitOption().option} != "None")
                           -split ${generateOptions.getSplitOption().option} ^
#*  *##end
#*  *##if (${generateOptions.font} != "")
                           -font ${generateOptions.font} ^
#*  *##end
#*  *##set ($const = ${generateOptions.getConstantValues()})
#*  *##foreach( $r in ${generateOptions.schemaDefinition.getRecords()}) 
#*      *##if (${r.getRecordSelection()})
#*          *##set ($recSel = ${r.getRecordSelection()})
#*          *##if (${recSel.getType()} == ${const.TYPE_ATOM})
                           -recordSelection ${r.getCobolName()}  ${recSel.field.cobolName}=${recSel.getValue()} ^
#*          *##end
#*      *##end
#*  *##end
#end
