#set ($dhash = '##')
${dhash} *   Author:  RecordEditor~CodeGen
${dhash} * Language:  Java Script (jjs interpreter that comes with java 8/9)  
#if ( $type == "Xml")
${dhash} * Packages:  CobolToXml (https://sourceforge.net/projects/coboltoxml)
${dhash} *            JRecord    (https://sourceforge.net/projects/jrecord/)
${dhash} *            Cb2Xml     (https://sourceforge.net/projects/cb2xml/)
${dhash} *        
${dhash} * *-----------------------------------------------------------------
${dhash} *        
${dhash} *   This script uses the CobolToXml package (https://sourceforge.net/projects/coboltoxml)
${dhash} * to do the  Cobol <---> Xml conversion.
${dhash} *   This script is setup to run from the example directory of an installed version of CobolToXml.
${dhash} * You should change the directory reference as required                                         
#else
${dhash} * Packages   JRecord    (https://sourceforge.net/projects/jrecord/) holds Cobol2Json jar
${dhash} *            Cb2Xml     (https://sourceforge.net/projects/cb2xml/)
${dhash} *        
${dhash} * *-----------------------------------------------------------------
${dhash} *        
${dhash} *   This script uses the CobolToJson portion of the JRecord package
${dhash} * (https://sourceforge.net/projects/jrecord) to do the  Cobol <---> Json conversion.
${dhash} *   This script is setup to run from the example directory of an installed version of 
${dhash} * JRecord/CobolToJson. You should change the directory reference as required  
#end
${dhash} *        
${dhash} * *------------- Keep this notice in your final code ---------------
${dhash} * *   This code was generated by JRecord projects CodeGen program
${dhash} * *            on the: ${generateOptions.getTemplateDtls().currentDateTime} 
${dhash} * *     from Copybook: ${generateOptions.getSchemaDefinition().schemaShortName}
${dhash} * *           Dialect: ${generateOptions.getDialect().utlCode}
${dhash} * *          Template: ${generateOptions.getTemplateDtls().template}
${dhash} * *             Split: ${generateOptions.getSplitOption().utlCode}   
${dhash} * * File Organization: ${generateOptions.getFileStructureCode().utlCode}   
${dhash} * *              Font: ${generateOptions.font}
${dhash} * *   
${dhash} * *    CodeGen Author: Bruce Martin
${dhash} * *-----------------------------------------------------------------
#macro(setXmlAttrSh)
                          -fileOrganisation ${generateOptions.getFileStructureCode().option} \
#*  *##if (${generateOptions.getDialect().option} != "Mainframe")
                          -dialect ${generateOptions.getDialect().option} \
#*  *##end
#*  *##if (${generateOptions.getSplitOption().option} != "None")
                          -split ${generateOptions.getSplitOption().option} \
#*  *##end
#*  *##if (${generateOptions.font} != "")
                          -font ${generateOptions.font} \
#*  *##end
#*  *##set ($const = ${generateOptions.getConstantValues()})
#*  *##foreach( $r in ${generateOptions.schemaDefinition.getRecords()}) 
#*      *##if (${r.getRecordSelection()})
#*          *##set ($recSel = ${r.getRecordSelection()})
#*          *##if (${recSel.getType()} == ${const.TYPE_ATOM})
                          -recordSelection ${r.getCobolName()}  ${recSel.field.cobolName}=${recSel.getValue()} \
#*          *##end
#*      *##end
#*  *##end
#end
