import csv
#set ($schemaDef = ${generateOptions.schemaDefinition})
#set ($r = ${generateOptions.schemaDefinition.getRecords().get(0)})

#incl("pyCsvIO/CsvCommonPy.vm")

#if (${generateOptions.schemaDefinition.areThereColumnNames()})
#indexClassPy()

idx = indexs()
#end
with open('${generateOptions.getDataFileName().getEscapedFileName()}.csv', 'wb') as csvfile:
    csvWrite = csv.writer(csvfile, delimiter='${generateOptions.schemaDefinition.getDelimiter()}'${q}, quoting=csv.QUOTE_MINIMAL)
#if (${generateOptions.schemaDefinition.areThereColumnNames()})
    csvWrite.writerow([
#*  *##set ($pref = " ")
#*  *##foreach($f in ${r.getFields()}) 
          ${pref} "${f.cobolName}"
#*       *##set ($pref = ",")
#*  *##end
    ])
#end
    csvWrite.writerow([
#set ($pref = " ")
#foreach($f in ${r.getFields()}) 
          ${pref} 111 
#*   *##set ($pref = ",")
#end
    ])
#if (${generateOptions.schemaDefinition.areThereColumnNames()})
    row = range(idx.Column_Count)
#*  *##foreach($f in ${r.getFields()}) 
    row[idx.${f.javaName}]=200 + idx.${f.javaName}
#*  *##end
    csvWrite.writerow(row)
#end
